<%
  if @highlight_words.nil?
    @highlight_words = []
  end

  request_link = false unless defined?(request_link)
%>

<div class="body_listing border-2 p-2 rounded-2xl border-blue-200 xl:w-7/12">
  <div class="font-bold text-lg">
    <%= link_to highlight_words(public_body.name, @highlight_words), public_body_path(public_body) %>
  </div>

  <div class="bottomline body-listing__request-count">
    <%= n_('{{count}} request.',
           '{{count}} requests.',
           public_body.info_requests.is_searchable.size,
           :count => public_body.info_requests.is_searchable.size) %>
  </div>

  <% if request_link && !public_body.special_not_requestable_reason? %>
    <div class="">
      <%= link_to _("Make a request"), new_request_to_body_path(:url_name => public_body.url_name), :class => "" %>
    </div>
  <% end %>
</div>
